.title
  color: #F2F2F2
  text-align: center
  margin-top: 5rem

.wrapper
  display: flex
  flex-direction: row
  

.leftBox
  width: 70%
  height: 100vh
  background-color: #131718
  display: flex
  flex-direction: column
  justify-content: space-between

.rightBox
  background-color: #F2F2F2
  width: 30%
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

.footer
  color: #F2F2F2
  margin-bottom: 2.5rem
  display: flex
  justify-content: space-between
  padding-inline: 2rem

.image
  margin: 0 auto

.apxLogo
  width: 100%

.rightTitle
  margin-top: 5rem
  color: #131718
  font-size: 2rem
  font-family: Manrope
  font-style: normal
  font-weight: 700

.button
  color: #FFF
  font-size: 1.375rem
  font-family: Manrope
  font-style: normal
  font-weight: 700
  line-height: normal
  border-radius: 1rem
  background: #0A489B
  padding: 1rem 7rem
  width: 17.6rem
  cursor: pointer
  transition: all 0.2s ease-in-out
  &:hover
    background: #073066
